.highlight  { background: #f0f3f3; }
.highlight .hll { background-color: #ffffcc }
.highlight .lineno { font-weight: bold } 
.highlight .c { color: #0099FF; font-style: italic }
.highlight .err { color: #AA0000; background-color: #FFAAAA }
.highlight .k { color: #006699; font-weight: bold }
.highlight .o { color: #555555 }
.highlight .cm { color: #0099FF; font-style: italic }
.highlight .cp { color: #009999 }
.highlight .c1 { color: #0099FF; font-style: italic }
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic }
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 }
.highlight .ge { font-style: italic }
.highlight .gr { color: #FF0000 }
.highlight .gh { color: #003300; font-weight: bold }
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 }
.highlight .go { color: #AAAAAA }
.highlight .gp { color: #000099; font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #003300; font-weight: bold }
.highlight .gt { color: #99CC66 }
.highlight .kc { color: #006699; font-weight: bold }
.highlight .kd { color: #006699; font-weight: bold }
.highlight .kn { color: #006699; font-weight: bold }
.highlight .kp { color: #006699 } 
.highlight .kr { color: #006699; font-weight: bold }
.highlight .kt { color: #007788; font-weight: bold }
.highlight .m { color: #FF6600 }
.highlight .s { color: #CC3300 }
.highlight .na { color: #330099 }
.highlight .nb { color: #336666 }
.highlight .nc { color: #00AA88; font-weight: bold }
.highlight .no { color: #336600 } 
.highlight .nd { color: #9999FF } 
.highlight .ni { color: #999999; font-weight: bold }
.highlight .ne { color: #CC0000; font-weight: bold }
.highlight .nf { color: #CC00FF }
.highlight .nl { color: #9999FF }
.highlight .nn { color: #00CCFF; font-weight: bold }
.highlight .nt { color: #330099; font-weight: bold }
.highlight .nv { color: #003333 }
.highlight .ow { color: #000000; font-weight: bold }
.highlight .w { color: #bbbbbb }
.highlight .mf { color: #FF6600 } 
.highlight .mh { color: #FF6600 } 
.highlight .mi { color: #FF6600 } 
.highlight .mo { color: #FF6600 } 
.highlight .sb { color: #CC3300 } 
.highlight .sc { color: #CC3300 } 
.highlight .sd { color: #CC3300; font-style: italic }
.highlight .s2 { color: #CC3300 }
.highlight .se { color: #CC3300; font-weight: bold }
.highlight .sh { color: #CC3300 }
.highlight .si { color: #AA0000 }
.highlight .sx { color: #CC3300 }
.highlight .sr { color: #33AAAA }
.highlight .s1 { color: #CC3300 }
.highlight .ss { color: #FF6633 }
.highlight .bp { color: #336666 }
.highlight .vc { color: #003333 }
.highlight .vg { color: #003333 }
.highlight .vi { color: #003333 }
.highlight .il { color: #FF6600 }

.terminal { font-family: monospace; color: #eeeeee; background-color: #000000; height: 300px; overflow: auto;}
.normal { color: #eeeeee; background-color: #000000; }
.type { color: #aaaa77; }
.special { color: #33aa00; }
.identifier { color: #ffcc00; }
.string { color: #66ff00; 
