html, body {
    margin:0;
    padding:0
}
body {
    font-size: 1.2.em;
    text-align: left;
    background: #FFFFFA;
    color: #666;
}
a{
    color: #00AAAA;
}
img {
    border: 0;
}
h1, h2, h3 {
    font: 1.5em;
    color: #666;
    margin-bottom: 0;
}
#container {
    width: 80%;
    margin-top: 10px;
    margin-left: auto ;
    margin-right: auto ;
}
#inner {
    background: #FFFFFA;
    padding: 10px;
}
#content {
    padding-left: 1em;
}
#outer {
    background: #B0C4DE;
    margin-bottom: 20px;
}
#footer {
    margin: 0;
    font-style: italic;
    clear: both;
}
#footer .l {
    text-align: left;
    float: left;
}
#footer .r {
    text-align: right;
    float: right;
}
#left {
    float: left;
    width: 80%;
}
#right {
    float: right;
}
ul#categories {
    padding-left: 0.5em;
    list-style: none;
}
ul#menu {
    list-style-type: none;
    padding-bottom: 24px;
    padding-left: 0.5em;
    border-bottom: 1px solid #B0C4DE;
    margin: 0;
}
ul#menu li {
    background-color: #B0C4DE;    
    border: 1px solid #B0C4DE;
    float: left;
    height: 21px;
    margin: 2px 2px 0 2px;
}
ul#menu li.current {
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}
ul#menu li.current a {
    color: #000000;
}
#menu a {
    float: left;
    display: block;
    text-decoration: none;
    padding: 4px;
    color: #FFF;
}
#menu a:hover {
    background: #FFFFFF; 
    color: #000000;
}
ul.posts {
    list-style-type: none;
    padding-left: 0.5em;
}
.post {
    margin-bottom: 1em;
}
.description {
    font-style: italic;
}
ul#archive {
    list-style-type: none;
    padding-left: 0;
}
