html, body {
    margin:0;
    padding:0
}
header, footer, nav, article, section, aside, video {
    display:block;
}
body {
    background: #FFFFFA;
    color: #666;
    font-family: Arial, "Lucida Grande", sans-serif;
    font-size: 120%;
    text-align: left;
}
a{
    color: #00AAAA;
}
img {
    border: 0;
}
aside {
    float: right;
    width: 19%;
}
aside ul {
    padding-left: 0.5em;
    list-style: none;
    margin-top:0;
}
footer {
    clear: both;
    font-style: italic;
    margin: 0;
}
footer .l {
    text-align: left;
    float: left;
}
footer .r {
    text-align: right;
    float: right;
}
h1, h2, h3 {
    color: #CCAD85;
    margin: 0;
}
#container {
    width: 70%;
    margin-top: 10px;
    margin-left: auto ;
    margin-right: auto ;
}
#main {
    margin-left: 0.5em;
    line-height: 1.5;
}
#inner {
    background: #FFFFFA;
    padding: 10px;
}
.content {
    text-align: justify;
}
#outer {
    background: #B0C4DE;
    margin-bottom: 20px;
}
#left {
    float: left;
    width: 80%;
}
ul#menu {
    border-bottom: 1px solid #B0C4DE;
    list-style-type: none;
    margin: 0;
    padding-bottom: 27px;
    padding-left: 0.5em;
}
ul#menu li {
    background-color: #B0C4DE;    
    border: 1px solid #B0C4DE;
    float: left;
    height: 24px;
    margin: 2px 2px 0 2px;
}
ul#menu li.current {
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}
ul#menu li.current a {
    color: #000000;
}
#menu a {
    color: #FFF;
    display: block;
    float: left;
    padding: 4px;
    text-decoration: none;
}
#menu a:hover {
    background: #FFFFFF; 
    color: #000000;
}
ul.posts {
    list-style-type: none;
    padding-left: 0;
}
article {
    margin-bottom: 1em;
}
.description {
    font-style: italic;
    margin-left: 0.5em;
}
.published-date {
    font-style: italic;
    margin-left: 0.3em;
}
ul#archive {
    list-style-type: none;
    padding-left: 0;
}
.highlight {
    overflow: auto;
}
.highlight pre {
    margin: 0;
}
#related-posts li {
    margin-bottom: 0.5em;
}
