---
title: Luca Pette's articles
description: Luca Pette's writing organised by topics
keywords: technology, developers, leading, writing, reading, rails, ruby, vim
layout: default
---

<div class="blog-header">
  <h1>Articles</h1>
  <p>An attempt at organising my writing by topic.</p>
</div>

<article>
  <ul>
    <li><a href="#leading">Leading developers</a></li>
    <li><a href="#rails">Rails</a></li>
    <li><a href="#reading">Reading</a></li>
    <li><a href="#ruby">Ruby</a></li>
    <li><a href="#vim">Vim</a></li>
    <li><a href="#writing">Writing</a></li>
  </ul>
  <h2 id="writing">Writing</h2>
  <ul>
    {% for post in site.categories.writing %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="reading">Reading</h2>
  <ul>
    {% for post in site.categories.reading %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="leading">Leading developers</h2>
  <ul>
    {% for post in site.categories.leading %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="vim">Vim</h2>
  <ul>
    {% for post in site.categories.vim %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="ruby">Ruby</h2>
  <ul>
    {% for post in site.categories.ruby %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="rails">Rails</h2>
  <ul>
    {% for post in site.categories.rails %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
</article>
