---
title: Articles
description: Luca Pette's writing organised by topics
keywords: technology, developers, managament, writing, reading
layout: default
---
<div class="blog-header">
  <p>This page is a timid attempt at organising my writing by topic. As I
  write about topics very different from each other, I find this to be a
  valuable exercise for myself</p>
</div>

<article>
  <p>
  I wrote the most about:
  <ul>
    <li><a href="#writing">Writing</a></li>
    <li><a href="#reading">Reading</a></li>
    <li><a href="#leading">Leading developers</a></li>
    <li><a href="#vim">Vim</a></li>
    <li><a href="#ruby">Ruby</a></li>
    <li><a href="#rails">Rails</a></li>
  </ul>
  </p>
  <h2 id="writing">Writing</h2>
  <ul>
    {% for post in site.categories.writing %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="reading">Reading</h2>
  <ul>
    {% for post in site.categories.reading %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="leading">Leading developers</h2>
  <ul>
    {% for post in site.categories.leading %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Vim</h2>
  <ul>
    {% for post in site.categories.vim %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2 id="ruby">Ruby</h2>
  <ul>
    {% for post in site.categories.ruby %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Rails</h2>
  <ul>
    {% for post in site.categories.rails %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
</article>
