<h3>Categories</h3>
<ul id="categories">
    <li class="category">
    /<a href="/books.html">books </a>
    <span>({{ site.categories.books | size }})</span>
    </li>
    <li class="category">
    /<a href="/irb.html">irb </a>
    <span>({{ site.categories.irb | size }})</span>
    </li>
    <li class="category">
    /<a href="/myself.html">myself </a>
    <span>({{ site.categories.myself | size }})</span>
    </li>
    <li class="category">
    /<a href="/rails.html">rails </a>
    <span>({{ site.categories.rails | size }})</span>
    </li>
    <li class="category">
    /<a href="/vim.html">vim </a>
    <span>({{ site.categories.vim | size }})</span>
    </li>
</ul>
