{% case page.url %}
{% when '/index.html' %}
{% assign home = "active" %}
{% assign articles = " " %}
{% assign about = " " %}
{% when '/articles.html' %}
{% assign home = " " %}
{% assign articles = "active" %}
{% assign about = " " %}
{% when '/about.html' %}
{% assign home = " " %}
{% assign articles = " " %}
{% assign about = "active" %}
{% endcase %}

<header>
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item {{ home }}" href="/">Home</a>
      <a class="blog-nav-item {{ articles }}" href="/articles.html">Articles</a>
      <a class="blog-nav-item {{ about }}" href="/about.html">About</a>
    </nav>
  </div>
</div>
</header>
