<meta name="google-site-verification" content="ttdK3_f7mcdF2mk48B92AymuB43ml5Eype6bVh8Gpg8" />

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/code.css" media="screen" />

<link rel='alternate' type='application/rss+xml'href='http://feeds.feedburner.com/lucapette' title="Luca Pette feeds"/>

<link rel="icon" type="image/jpg" href="/favicon.ico">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script>

<script src="/js/jquery.timeago.js" type="text/javascript"></script>
<script src="/js/waypoints.min.js" type="text/javascript"></script>

<script type="text/javascript">
  $(function() {
      $('time.timeago').timeago();
  });
</script>
