<meta name="google-site-verification" content="ttdK3_f7mcdF2mk48B92AymuB43ml5Eype6bVh8Gpg8" />

<link rel="stylesheet" type="text/css" href="/css/960.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/code.css" media="screen" />

<link rel='alternate' type='application/rss+xml'href='http://feeds.feedburner.com/lucapette' title="Luca Pette feeds"/>

<link rel="icon" type="image/jpg" href="/favicon.ico">

<script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8138438-3']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
