{% case page.url %}
{% when '/index.html' %}
{% assign home = "current" %}
{% assign articles = " " %}
{% assign about = " " %}
{% when '/articles.html' %}
{% assign home = " " %}
{% assign articles = "current" %}
{% assign about = " " %}
{% when '/about.html' %}
{% assign home = " " %}
{% assign articles = " " %}
{% assign about = "current" %}
{% endcase %}

<header>
  <div class=row>
    <div id=logo class=span5>
      <a href="/">luca pette</a>
    </div>
    <nav class=span3>
    <ul id=menu>
      <li class="{{ home }}"><a href="/">Home</a></li>
      <li class="{{ articles }}"><a href="/articles.html">Articles</a></li>
      <li class="{{ about }}"><a href="/about.html">About</a></li>
    </ul>
    </nav>
  </div>
</header>
