{% assign home = " " %}
{% assign articles = " " %}
{% assign about = " " %}

{% case page.url %}
{% when '/' %}
  {% assign home = "active" %}
{% when '/articles', '/archive' %}
  {% assign articles = "active" %}
{% when '/about' %}
  {% assign about = "active" %}
{% endcase %}

<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item {{ home }}" href="/">Home</a>
      <a class="blog-nav-item {{ articles }}" href="/articles.html">Articles</a>
      <a class="blog-nav-item {{ about }}" href="/about.html">About</a>
    </nav>
  </div>
</div>
