<a class="FlattrButton" style="display:none;"
  title="{{ page.title }}"
  data-flattr-uid="lucapette"
  data-flattr-tags="{{ page.keywords }}"
  data-flattr-button="compact"
  data-flattr-category="software"
  href="http://lucapette.com/{{ page.url }}">Flattr this</a>

<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="lucapette" data-related="lucapette">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<g:plusone size="medium"></g:plusone>
