<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div class="wrapper">
      {% include analytics.html %}
      {% assign articles="active" %}
      {% include header.html %}
      <div class=container>
        <div class="row">
          <div class="col-md-offset-1 col-md-11">
            <article>
              <h1>{{page.title}}</h1>
              <div class="blog-post-meta">Published <time pubdate class="timeago" datetime="{{page.date | date:"%FT%TZ"}}">{{ page.date | date_to_string }}</time></div>
              <div class=row>
                <div class="col-md-10">
                  {{ content }}
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            {% include article-footer.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>
  {% include footer.html %}
</body>
</html>
