<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - Luca Pette</title>
        {% include head.html %}
        {% include meta.html %}
        {% include flattr.html %}
    </head>
    <body>
        <div id=container>
            {%  assign blog="current" %}
            {% include navigation.html %}
            <div id=main>
                <article>
                    <header>
                        <h1>{{page.title}}</h1>
                            <time pubdate class=published-date>{{ page.date | date:"%Y-%m-%d" }}</time>
                            in
                            {% for category in page.categories %}
                            <a href="/{{ category }}.html"> {{ category }}</a>
                            {% endfor %}
                            <div class="share">{% include share.html %}</div>
                    </header>
                    <div class=content>
                    {{ content }}
                    </div>
                    {% include share.html %}
                    <div class=comment-section>
                        {% include disqus.html %}
                    </div>
                </article>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
