<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        {% include head.html %}
        {% include meta.html %}
    </head>
    <body>
        <div id=container>
            {%  assign blog="current" %}
            {% include navigation.html %}
            <section id=main>
                <div>
                    <header>
                        <h1>{{page.title}}</h1>
                    </header>
                    <div class=content>
                        <div class=description>
                            {{ page.description | textilize }}
                        </div>
                        {{ content }}
                    </div>
                </article>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
