<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - Luca Pette </title>
        {% include head.html %}
        {% include meta.html %}
    </head>
    <body>
        <div id=container>
            <div id=outer>
                <div id=inner>
                    {% include navigation.html %}
                    <section id=main>
                        <section id="left">
                            {{ content }}
                        </section>
                    </section>
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
