<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - Luca Pette </title>
        {% include head.html %}
        {% include meta.html %}
    </head>
    <body>
        <div id="container">
            <div id="outer">
                <div id="inner">
                    {% include navigation.html %}
                    <div id="content">
                        <div id="left">
                            {{ content }}
                        </div>
                        <aside>
                            {% include categories.html %}
                        </aside>
                    </div>
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
